body{
font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}
.wrapper{
  width:1100px;
  margin:0 auto;
  border: 7px solid SteelBlue;
  padding:30px;
  color:SteelBlue;

}
.wrapper header {
  text-align:center;

}
  
.wrapper header img {
  border-radius:250px;
  width:200px;
  margin:0 auto;
  border-bottom:5px solid #ddd;
}
.wrapper section h2{
  background: SteelBlue;
  color:#fff;
  padding:20px;
  border-bottom:4px solid #ddd;
}
section.summary p{
  font-size: 24px;
  padding: 25px 40px 80px 25px;
}
ul{
  font-size: 18px;
}
section.contact{
  width:1100px;
  margin:0 auto;
  text-align: center;
  border: 7px solid SteelBlue;
  padding:30px;
  background:SteelBlue;
}
.jumbotron{
  text-align: center;
}